Import necessary packages and installing geopy Module .

In [4]:

!pip install geopy
import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
from pandas.io.json import json_normalize  # tranform JSON file into a pandas dataframe

import folium # map rendering library

# import k-means from clustering stage
from sklearn.cluster import KMeans

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

Requirement already satisfied: geopy in c:\users\alex\anaconda3\lib\site-packages (2.1.0)
Requirement already satisfied: geographiclib<2,>=1.49 in c:\users\alex\anaconda3\lib\site-packages (from geopy) (1.50)

Scrape the "raw" table and If a cell has a borough but  Not assigned neighborhood, then the neighborhood will be the same as the borough

In [33]:
source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text
soup = BeautifulSoup(source, 'lxml')

table = soup.find("table")
table_rows = table.tbody.find_all("tr")

res = []
for tr in table_rows:
    td = tr.find_all("td")
    row = [tr.text for tr in td]
    
    # Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
    if row != [] and row[1] != "Not assigned":
        # If a cell has a borough but a "Not assigned" neighborhood, then the neighborhood will be the same as the borough.
        if "Not assigned" in row[2]: 
            row[2] = row[1]
        res.append(row)

Converting into dataframe and assigning columnnames

In [34]:
df = pd.DataFrame(res, columns = ["PostalCode", "Borough", "Neighborhood"])
df.head()

  PostalCode             Borough                 Neighborhood
0      M1A\n      Not assigned\n               Not assigned\n
1      M2A\n      Not assigned\n               Not assigned\n
2      M3A\n        North York\n                  Parkwoods\n
3      M4A\n        North York\n           Victoria Village\n
4      M5A\n  Downtown Toronto\n  Regent Park, Harbourfront\n

Remove "\n" at the end of each string in  all columns

In [35]:

df["PostalCode"] = df["PostalCode"].str.replace("\n","")
df["Borough"] = df["Borough"].str.replace("\n","")
df["Neighborhood"] = df["Neighborhood"].str.replace("\n","")
df.head()

  PostalCode           Borough               Neighborhood
0        M1A      Not assigned               Not assigned
1        M2A      Not assigned               Not assigned
2        M3A        North York                  Parkwoods
3        M4A        North York           Victoria Village
4        M5A  Downtown Toronto  Regent Park, Harbourfront

Writing our data into as .csv file for further use

In [15]:
file=open("toronto.csv","wb")
#file.write(bytes(headers,encoding="ascii",errors="ignore"))
file.write(bytes(table1,encoding="ascii",errors="ignore"))

7910

Only processing the cells that have an assigned borough. Ignoring the cells with a borough that is Not assigned. Droping row where borough is "Not assigned"

In [46]:
# Get names of indexes for which column Borough has value "Not assigned"
indexNames = df[ df['Borough'] =='Not assigned'].index

# Delete these row indexes from dataFrame
df.drop(indexNames , inplace=True)
df.head(10)

   PostalCode      Borough                                     Neighborhood
1         M1B  Scarborough                                   Malvern, Rouge
2         M1C  Scarborough           Rouge Hill, Port Union, Highland Creek
3         M1E  Scarborough                Guildwood, Morningside, West Hill
4         M1G  Scarborough                                           Woburn
5         M1H  Scarborough                                        Cedarbrae
6         M1J  Scarborough                              Scarborough Village
7         M1K  Scarborough      Kennedy Park, Ionview, East Birchmount Park
8         M1L  Scarborough                  Golden Mile, Clairlea, Oakridge
9         M1M  Scarborough  Cliffside, Cliffcrest, Scarborough Village West
10        M1N  Scarborough                      Birch Cliff, Cliffside West

Rows with same postalcode will be combined into one row with the neighborhoods separated with a comma

In [47]:
df = df.groupby(["PostalCode", "Borough"])["Neighborhood"].apply(", ".join).reset_index()
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Malvern, Rouge
1        M1C  Scarborough  Rouge Hill, Port Union, Highland Creek
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

use the .shape method to print the number of rows of your dataframe

In [48]:
print("Shape: ", df.shape)

Shape:  (103, 3)